:root {
    
    --color-primary: #d1a30b;
    --color-secondary: #6c757d;
    --color-accent: #ff3400;
    --color-headings: #FFF;
    --color-headings-secondary:#000;
    --color-text: #6c757d;
    --color-body: #918ca4;
    --color-footer-headings:#FFF;
    --color-footer-background: #6c5b7b;
    --color-background:#f8f9fa!important;
}

/* Define a rule using universal selector, grabbing all elements * as well as all elements after + beforeafter of before */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    overflow-x:hidden;
}

.wrap {
    max-width: auto;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0px 80px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 80px -10px rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Rubik", "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: 1.8;
    overflow-x:hidden;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
    font-weight: 400;
}

h1 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
}

h2 {
    font-size: 4.5rem;
    color: var(--color-primary);
}

h3 {
    font-size: 3.5rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
       
    }
}

@media screen and (min-width: 912px) {
    h1 {
        font-size: 6rem;

    }
}

/*@media screen and (min-width: 280px) and (max-width: 420px) {
    h2 {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 2rem;
    }

    h1 {
        font-size: 5rem;
     }
    
    h2 {
        font-size: 3.0rem;
    }
    
    h3 {
        font-size: 2.4rem;
    }
    
    h4 {
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px) {
    h1 {
    font-size: 3rem;
    }
}
/*
/* Links */
a {
    text-decoration: none;
}

.link {
    color:#FFF
}

/* Header Block */
.header-block {
    background: var(--color-primary);
    font-size: 14px;
    color: #FFF;    
}

.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

/* Blocks */
.block {
    --padding-vertical: 6rem; /* This custom property is availiable to an element w/ a class of block and all its children */
    padding: var(--padding-vertical) 2rem;
    text-align: center;
    padding-bottom: 0;
    max-height: 100%;
}

.block__header {
    text-align:center;
    margin-bottom: 4rem;
    
}

.block__heading {
    margin-top: 0;
    
}

@media (max-width: 768px) {
    .block__header {
        top: 40%;
    }
}

/* Lists */

.header-list {
    background: #d1a30b;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 14px;
}
  
.header-list a {
    color: #fff;
}
  
.header-list a:hover {
    opacity: .5;
}
  
.header-list .header-list-list, .header-list-list li {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.header-list .header-list-list li {
    display: inline-block;
    margin-right: 20px;
}
  
.header-list .header-list-icons {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.header-list .header-list-icons li {
    display: inline-block;
}
  
.header-list .header-list-icons li a {
    padding-left: 10px;
    padding-right: 10px;
}
  
.header-list .header-list-icons li:last-child a {
    padding-right: 0px;
}
  
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .column-list {
        display:flex;
        justify-content: left;
        padding-right: 400px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px) {
  .column-icons {
    justify-content: right;
    padding-right: 10px;
    
  }
    
}

@media screen and (min-width: 912px) {
    .column-list {
        display: flex;
        justify-content: left;
        padding-right: 500px;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 912px) {
    .column-icons {
        justify-content: right;
        padding-right: 10px;

    }

}

@media screen and (min-width: 1024px) {
    .column-list {
        display: flex;
        justify-content: left;
        padding-right: 600px;
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .column-icons {
        justify-content: right;
        padding-right: 10px;

    }

}

@media screen and (min-width: 1200px) {
    .column-list {
        display: flex;
        justify-content: left;
        padding-right: 900px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .column-icons {
        justify-content: right;
        padding-right: 10px;

    }

}

@media screen and (min-width: 1400px) {
    .column-list {
        display: flex;
        justify-content: left;
        padding-right: 2100px;
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1400px) {
    .column-icons {
        justify-content: right;
        padding-right: 10px;

    }

}
/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}

  /* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}
  
.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}
  
.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
  
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
  
.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}
  
.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* Mobile Bar */
.Mobile-bar-branding {
    font-family: futura-pt;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        letter-spacing: .05em;
        line-height: 1em;
        text-transform: uppercase;
        color: #333;
        padding-left: 18px;
}

/*Navigation Bar */
  
.nav {
    background: #fff;
    display: flex;
    justify-content: space-between; /* Need to push items to edge of the container */
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
    
}

.nav__item > a { /* Since list items have separate colors use direct child selector to target the anchor
    inside this element. */
    color: #73717a;
    transition: color 0.3s;
}

.nav__item > a:hover { /* Use hover psedo-class selector to change text color when pointer over text */
    color: #000;
}

.nav__toggler {
    opacity: 0.5; /* Start toggler with a lighter color */
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler { /* Uses a double class selector, selects element that has both
    .nav and .collapsible--expanded */
    opacity: 1;
    box-shadow: 0 0 0 3px #666; /* horizontal, vertical offsets, make shadow softer, spread by 3px */
    border-radius: 5px;
    bottom: 84%;
    
}

.nav__brand {
    transform: translateY(5px); /* moves logo icon 5px down) */
    /*transform: translateX(428px); /* moves logo icon 5px down) */
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
               
    }
    .nav__list {
        width: auto;
        display: flex; /* Makes list horizontal */
        font-size: 2.0rem;
        max-height: 100%; /* These two properties make the navigation list visible at start */
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
    
}

/*@media screen and (max-width:768px) {
    .logo {
        width: 70%;
    }
    
    .nav__toggler {
    position:absolute;
    right: 0;
    margin-right: 10px;
    }
   
}
/*
/* Buttons */
.btn {
    font-size: 1.8rem;
}

/* Buttons */
.btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0;
    border-radius: 100px;
    margin: 1rem 0;
    padding: 3rem 3rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.btn--primary:hover {
    background-color: transparent;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
    flex-grow: 1;
    margin-top: 30px;
}

.btn--block {
    display: inline-block;
    
}

.btn--outline {
    background: #fff;
    color: var(--color-headinds);
    border: 2px solid var(--color-headinds);
}

.btn--outline:hover {
    background: var(--color-headinds);
    color: #fff;
}

/*@media screen and (min-width: 279px) and (max-width: 320px) {
    .btn--block {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .btn {
     font-size:1.7rem ;
    }    
}
*/
/* Grids */
.grid {
    display: grid;
    gap: .1px;
    grid-template-columns: repeat(3,1fr);
    place-content: center;
    width: auto;
    text-align: center;
}

/*div > div {
    padding: 10px;
    background-color: #f8f9fa;
}
*/
@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr); /* Take all avilaible space, div by two and give each col 1 space */
        justify-content: center;
        width: auto;
    }
}

/* Hero */
.hero__tagline { /* The elements below are part of an element called tagline that is part of the hero components.
if have other paragrahps later with exact same style want to extract this content into a separate reusable class.
Need to keep content separated from the container (object orientated programming). */
font-size: 2rem;
color: #a1a0a8;
letter-spacing: 1px;
margin: 2rem 0 1.5rem; /* Top margin of 2rems and bottom of 1.5 */
}
    
.site-hero {
    background-size: cover;
    background-position: 50% 50px;
    background-repeat:no-repeat;
    min-height: 1140px;
    height: auto;
    opacity: .9;

}
    
.hero-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.hero-block {
    position: absolute;
    top: 38%;
    padding: 10px;
}

.text-white {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
}

.button--visited {
    color: #FFF;
    margin-right: 10px;
    font-size: 1.8rem;
}

@media screen and (min-width: 768px) {

    .block__header {
        top: 40%;
        /*font-size: 2.2rem; */
    }
}

@media screen and (min-width: 912px) {
 
    .block__header .hero-block{
        top: 40%;
        /*font-size: 3.2rem;*/
    }
 
    .text-white {
     font-size: 3rem;
    }
}
@media screen and (min-width: 1024px) {

    .block__header {
        top: 40%;
        /*font-size: 2.2rem;*/
    }

    .text-white {
        font-size: 1.7rem;
    }
}
    /*.btn--block {
        display: inline-block;
        width: 35%;
        margin-right: 10px;
        margin-top: 20px;
    }
    */
   
    /*.btn--block {
        display: inline-block;
        width: 35%;
        margin-right: 10px;
        margin-top: 20px;
    }
    
    .text-white {
        font-size: 1.5rem;
    }
}/*

/* Overlay Block*/
.overlay-block {
    border-top: 2px solid #6c5b7b;
    background: #fff;
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.1);
}
  
.overlay-block.overlap {
    margin-top: -50px;
    border: 0;
    padding: 10px;
    text-align: center;
}
  
.overlay-block .overlay-block-text > div {
    display: inline-block;
    font-size: 1.8rem;
    
}
  
.overlay-block .overlay-block-text .overlay-block-title {
    color: #000;
    font-weight: 500;
    padding: 3px;
}
  
.overlay-block-title a {
    color: #000;
}
  
.overlay-block .overlay-block-text .overlay-block-meta {
    color: #999999;
    font-weight: 200;
    font-size: 1.6rem;
}
  
.overlay-block .overlay-block-icons a {
    padding: 0 10px;
}
  
.overlay-block .overlay-block-icons a:last-child {
    padding-right: 0;
}

@media screen and (min-width: 768px) {
    .overlay-block {
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    
    }
}

@media screen and (min-width: 768px) {
    .overlay-block .overlay-block-text .overlay-block-meta {
        font-size: 2rem;
    }
}

@media screen and (min-width: 912px) {
    .overlay-block {
        margin-left: 100px;
        margin-right: 100px;
        padding: 40px;

    }
}

@media screen and (min-width: 912px) {
    .overlay-block .overlay-block-text .overlay-block-meta {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .overlay-block {
        margin-left: 150px;
        margin-right: 150px;
        padding: 40px;

    }
}

@media screen and (min-width: 1024px) {
    .overlay-block .overlay-block-text .overlay-block-meta {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1400px) {
    .overlay-block {
        margin-left: 500px;
        margin-right: 500px;
        padding: 40px;

    }
}

@media screen and (min-width: 1400px) {
    .overlay-block .overlay-block-text .overlay-block-meta {
        font-size: 2rem;
    }
}


/* Welcome section */
 
.pastor-welcome {
    position: relative;
    display: inline-block;
    width: 100%;
}
  
.pastor-welcome figure .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: block;
    border-radius: 50%;
}
  
.pastor-welcome figure .play-button:hover {
    opacity: 1;
}
  
.pastor-welcome figure .play-button > span {
    position: absolute;
    left: 55%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
}
  
.welcome-text .heading {
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.welcome-text .heading h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: #6c5b7b;
}
  
.welcome-text .text {
    max-width: 450px;
    font-size: 1.8rem;
}
 

/*@media screen and (min-width: 768px) {
    .welcome-text {
        margin-left: 80px;
        margin-top: 60px;
    }
    .pastor-welcome {
        top: 10%;
        display:inline-block;
        width: 80%;
    }

    .heading {
        font-size: 2rem;
    }
}

/* Section Heading */
.section-heading {
    position: relative;
    margin-bottom: 0;
    
}

.section-heading.center {
    text-align: center;
}
  
.section-heading.center .heading {
    padding-left: 20px;
}
  
.section-heading:before {
    content: "";
    position: absolute;
    left: 0;
    top: 60%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 10px;
    background: #6c5b7b;
}
  
.section-heading .heading {
    z-index: 2;
    position: relative;
    background: #fff;
    display: inline-block;
    padding-left: 0px;
    padding-right: 20px;
    
    font-size: 30px;
            
}
  
.section-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    
    margin-right: auto;
    margin-left: auto;
    background: #f8f9fa;
}

.bg-light .section-heading:before {
    background: var(--color-primary);
}
  
.bg-light .section-heading .heading {
    background: #f8f9fa;
}

@media screen and (min-width: 1024px) {
    .section-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
  
  /* Services */
.services-text .services-background {
        text-align: center;
}

.services-background {
    background: #f8f9fa;
}

@media screen and (min-width: 280px) {
    .s-image {
    object-fit: scale-down; max-width: 70%;
    }

    .services-text {
        font-size: 2rem;
        margin-top: 5px;
    }

    .welcome-text .heading{
        font-size: 3rem;
    }
    
}

@media screen and (min-width: 768px) {
    .s-image {
        object-fit: cover;
        max-width: 80%;
    }

    .services-text {
        font-size: 3rem;
        margin-top: 5px;
    }

    .welcome-text .heading {
        font-size: 3rem;
    }

}

/* Footer */
.footer  {
    background: #6c5b7b;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}
 
.footer-block {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
 