<div class="wrap">
    <div class="header-list">
        <div class="container">
            <div class="row">
                <div class="column">
                    <ul class="header-list-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Salvation</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="header-list-icons">
                    <li><a href="3"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="3"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="3"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="3"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            </div>
            <header>
                <nav class="nav collapsible">
                    
                        <a aria-label="Restoration Christian Church Ministries Church" 
                            class="nav__brand" href="/"><img class="logo" src="/images/Logo_Ministries.webp" alt=""></a>
                                
                    <svg class="icon nav__toggler">
                        <use href="images/sprite.svg#menu"></use>
                    </svg>
                        <ul class="list nav__list collapsible__content">
                            <li class="nav__item"><a href="/">Home</a></li>
                            <li class="nav__item"><a href="pastors.html">Our Pastors</a></li>
                            <li class="nav__item"><a href="About.html">About Us</a></li>
                            <li class="nav__item"><a href="salvation.html">Salvation</a></li>
                            <li class="nav__item"><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </nav>
            </header>  
       </div>
</div>