<section class="site-hero" style="background-image: url(images/Bible.webp);">
    <div class="container">
        <div class="hero-text">
            <header class=" block__header hero-block " data-aos="fade-up">
                <h1>"Your Place to Connect with God",<br>
                    One Mind...One Body...One Accord,<br>
                    Ephesians 4:4-6 <br><br>
                    <a href="about.html" class="btn btn--primary btn--block">About Us</a>
                    <span class="text-white">
                        <span class="material-symbols-outlined">
                            pin_drop
                            </span>
                        <a href="http://www.google.com" class="button--visited"
                            target="popup" 
                            onclick="window.open('https://goo.gl/maps/BptfY7nHe3puQGNf7','popup','width=1000,height=800'); return false;">
                            Visit Our Church
                        </a>
                    </span> 
                </h1>    
            </header>
        </div>        
    </div>
</section>