<section class="overlay-block overlap">
    <div class="container">
        <div class="row">
            <div class="overlay-column column-flex">
                <div class="overlay-block-text">
                    <div class="overlay-block-label">Latest Sermon:</div>
                        <div class="overlay-block-title mx-2"><a href="#"><strong>Rebuilding The Walls</strong></a></div>
                            <div class="overlay-block-meta">Posted on April 9, 2023, <strong>Pastor Phillip & Angela Thomas</strong> </div>
                </div>
                <div class="overlay-block-icons ml-auto">
                    <a href="#" class="fa fa-video-camera pl-0"></a>
                    <a href="#" class="fa fa-headphones"></a>
                    <a href="#" class="fa fa-cloud-download"></a>
                    <a href="#" class="fa fa-book"></a>
                </div>
                </div>
        </div>
    </div>
</section>