<section class="services">
    <div class="services-grid services-background">
        <div class="services-box1">
            <img class="s-image" src="images/pray.webp" alt="">
            <h2>SUNDAY MORNING WORSHIP SERVICE</h2>    
            <p>Morning Worship Service: 10:00 a.m.</p>
        </div>                        
        <div class="services-box2">
            <img class="s-image" src="images/happy.webp" alt="">
            <h2>BIBLE STUDY AND PRAYER </h2>    
            <p>Wednesdays: 6:30 p.m.</p>
        </div>       
        <div class="services-box3">
            <img class="s-image" src="images/praise.webp" alt="">
            <h2>MORNING GLORY PRAYER</h2>    
            <p>Every Third Saturday: 7:00 a.m. via Teleconference</p>
        </div>
        <div class="services-box4">
            <img class="s-image" src="images/praise.webp" alt="">
            <h2>SUNDAY SCHOOL</h2>    
            <p>Temporarily Suspended</p>
        </div>
    </div>   