<section class="welcome-section">
    <div class="container">
        <div class="welcome-row align-items-center grid grid--1x2">
            <div class="col-md-6 order-md-1">
                <div class="block-15">
                    <div class="heading">
                        <h2>Welcome To Restoration Christian Church Ministries</h2>
                    </div>
                    <div class="text mb-5">
                        <p class="mb-4">Sometimes, what happens in life can cause individuals to feel removed from the close relationship that God desires 
                            to have with every believer. It is our desire to see individuals reconciled to God. We believe the Lord's proclamation through
                            the Apostle Paul that "all things work together for good , to them that love God, to them who are called according to His purpose"(Romans 8:28)
                            and that when any man is in Christ he is a new creation: old things pass away and all things become new (2 Corinthians 5:17). Through
                            our own testimonies, we are encouraged that every man, woman, boy, and girl has hope through the redemption of Jesus Christ, no matter where
                            life has taken you. With confidence we can assure you that Jesus is the way, the truth, and the life; and that there is great joy in the
                            fellowship of coming to the Father by Him. Our prayer for you is Ephesians 3:14-21. 
                            <p>
                            We thank you for your interest in Restoration Christian Church Ministries and we welcome you to attend service with us.
                            We would love the opportunity to meet you and to have you join us as we celebrate  and give glory and honor to our Lord Jesus Christ
                            who restores us all to Him through His redemptive power working in our lives.  
                            <p>          
                            Love & Blessings</p>
                        <p class="text-black">Church Pastor <strong>Phillip & Angela Thomas</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <span>
                    <img src="images/thomas.webp" alt="Image placeholder" class="pastor-image">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
